[submodule "submodules/pinchesAndCacti"]
	path = submodules/pinchesAndCacti
	url = https://github.com/ComparativeGenomicsToolkit/pinchesAndCacti
[submodule "submodules/matchingAndOrdering"]
	path = submodules/matchingAndOrdering
	url = https://github.com/ComparativeGenomicsToolkit/matchingAndOrdering
[submodule "submodules/cPecan"]
	path = submodules/cPecan
	url = https://github.com/ComparativeGenomicsToolkit/cPecan
[submodule "submodules/sonLib"]
	path = submodules/sonLib
	url = https://github.com/ComparativeGenomicsToolkit/sonLib
[submodule "submodules/hal"]
	path = submodules/hal
	url = https://github.com/ComparativeGenomicsToolkit/hal
[submodule "submodules/cactus2hal"]
	path = submodules/cactus2hal
	url = https://github.com/ComparativeGenomicsToolkit/cactus2hal
[submodule "submodules/kyoto"]
	path = submodules/kyoto
	url = https://github.com/ComparativeGenomicsToolkit/kyoto.git
